.container {
  // border : 1px solid red;
  max-height: 100%;
  height: 100%;
}

.cardContainer {
  border: 1px solid #CCD0D4;
  border-radius: 5px;
  padding: 30px;
  margin: 30PX;
  // background: #E6E8EA;
}
